name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          # Using "simple" strategy since this is not a library with a specific package manager release need,
          # but we can use "node" if we want to sync package.json version.
          # Given we added version to package.json, "node" is a good fit.
          release-type: node
          package-name: bitcraft-brand
